.radio-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.jumbotron{
  padding: 10px;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: center;
}
